<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% include ./models/bs_css.ejs %>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>排程</title>
</head>

<body>
  <main class="container text-center">
    <h1 class="m-5">MRP Online Simulator</h1>
    <div class="row">
      <div class="col-md-8 m-auto">
        <div class="row">
          <div class="col-md-6"><button class="btn btn-outline-warning w-100">BOM 表</button></div>
          <div class="col-md-6"><button class="btn btn-outline-warning w-100">排程</button></div>
        </div>
        <div class="row m-5">
          <div class="col-md-6 m-auto">
            <a href="/" class="btn btn-success w-100">回首頁</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <% include ./models/bs_js.ejs %>
    <script src="/javascripts/index.js"></script>
</body>

</html>